@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Poppins:wght@300;500;700;900&display=swap');

:root {
    --primary-font: 'Poppins', sans-serif;
    --primary-color: #ff0062;
    --secondary-color: #F3B900;
    --accent-color: #FA00FF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--primary-font);  
}

body {
    min-height: 100vh;
    background-color: var(--secondary-color);
    background-image: url("images/Max_Volume.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container {
    display: grid;
    gap: 0.1rem;
    grid-template-columns: 200px 1fr 3fr;
}

.nav-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
    height: 100vh;
    margin: 20px 0 20px 20px;   
}

.nav-bar a {
    text-decoration: none;
}

.nav-icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.nav-link {
    margin-top: 10px;
}

.nav-text {
    color: var(--primary-color);
    padding-left: 10px;
    font-size: 0.8rem;
}

.fa-house, .fa-headphones, .fa-download {
    color: var(--primary-color);
    font-size: 1.6rem;
    padding: 10px 20px 10px 10px;
    transition: transform 0.5s ease;
}

.fa-house:hover, .fa-headphones:hover,
.fa-download:hover {
    transform: scale(1.2);
 }

.hero_content {
    margin-top: 30px;
    text-align: center;
}

.play-button {
    background-color: #FFFFFF;
    width: 10em;
    height: 10em;
    text-align: center;
    padding-left: 8px;
    border-radius: 50%;
    border: 6px solid var(--primary-color);
    transition: transform 0.3s ease;
    cursor: pointer;
}

.play-button .fa-play {
    color: var(--primary-color);
    font-size: 3rem;
    transition: transform 0.5s ease;
}

.play-button:hover {
    transform: scale(1.1);
}

.btn-text {
    text-transform: uppercase;
    color: var(--primary-color);
    font-size: 1.1rem;
    padding-top: 15px;
}

.content-text {
    color: #000000;
    font-weight: 300;
    font-size: 0.8rem;
    text-align: start;
    margin-top: 10px;
    padding: 10px;
}

.media-icons {
    display: flex;
    justify-content: center;
    text-align: start;
    margin-bottom: 20px;
}

.fa-facebook, .fa-square-instagram {
    color: #000000;
    font-size: 2rem;
    padding: 20px;
    margin-bottom: 10px;
    transition: transform 0.5s ease-out;
}

.fa-facebook:hover, .fa-square-instagram:hover {
    transform: scale(1.2);
}

.hero_header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: auto;
    
}

.vetical-text {
    color: var(--primary-color);
    font-size: 7rem;
    font-weight: 900;
    writing-mode: tb-rl;
    transform: rotate(-180deg);
    text-align: center;
}

.horizontal-text {
    color: var(--primary-color);
    font-size: 3rem;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
}

.side-bar {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;
    height: 100vh;
    margin: 20px;
    padding: 10px;
}

.search-bar {
    display: flex;
    justify-content: end;
    max-height: 30px;
}

.search {
    padding: 4px;
    border: 0;
    border-radius: 4px;
    color: #6f6868;
}

.search::placeholder {
    padding-left: 2px;
    color: #6f6868;
}

.search:focus {
   outline: none;
}

.btn-search {
    padding: 5px;
    background-color: var(--accent-color);
    border: 0;
    border-radius: 4px; 
    cursor: pointer;
}

.fa-magnifying-glass {
    color: #FFFFFF;
    padding: 5px 5px 5px 5px;
}

.music-icon {
    display: flex;
    justify-content: end;
    align-items: flex-end;
    margin-bottom: 40px; 
}

.sound-bar-start {
    background-color: var(--accent-color);
    width: 30px;
    height: 80px;
    border-radius: 30px 30px 0 0;  
    margin: 5px;
}

.sound-bar-middle-start {
    background-color: var(--primary-color);
    width: 30px;
    height: 180px;
    border-radius: 30px 30px 0 0;
    margin: 5px;
}

.sound-bar-middle-end {
    background-color: var(--accent-color);
    width: 30px;
    height: 200px;
    border-radius: 30px 30px 0 0;
    margin: 5px;
}

.sound-bar-end {
    background-color: var(--primary-color);
    width: 30px;
    height: 120px;
    border-radius: 30px 30px 0 0;
    margin: 5px;
}

@media (max-width: 40em) {

    .container {
        display: grid;
        grid-template-columns: 1fr;
    }

    .nav-bar {
        display: flex;
        flex-direction: column;
        grid-row: 1;
        justify-content: flex-start;
        align-items: center;
        height: 300px;
    }

    .nav-icons {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
    }

    .nav-text {
        display: none;
    }

    .content-text {
        display: none;
    }

    .media-icons {
        display: none;
    }

    .hero-section {
        display: flex;
        flex-direction: column;
        padding-top: 10px;
    }

    .hero_content {
        display: flex;
        flex-direction: column-reverse;
    }

    .btn-text {
        padding-bottom: 10px;
    }

    .hero_header {
        display: flex;
        flex-direction: row-reverse;
        grid-row: 2;
    }

    .vetical-text {
        font-size: 5.5rem;
        writing-mode: horizontal-tb;
        transform: rotate(360deg);
        text-align: center;
    }

    .horizontal-text {
        font-size: 3rem;
        text-align: center;
        text-transform: uppercase;
        writing-mode: vertical-lr;
        transform: rotate(180deg);
    }

    .side-bar {
        display: flex;
        flex-direction: column;
        grid-row: 3;
        height: auto;
    } 

    .search-bar {
        display: flex;
        justify-content: center;
        max-height: 30px;
    }

    .music-icon {
        display: flex;
        justify-content: flex-end;
        margin: 40px 0 40px 0;
    }

}
